# **List**

*   List is a one of the datatype of python which allows us to store multiple value of any type in single variable.

*   List is a mutable datatype i.e the value of list can be changed at ruuntime.
*   It is created by square brackets [values].
*   It allows duplicate values.

*   List is ordered(follow insertion order)
*   It allows index to access the value from list.

In [49]:
l1 = [1,25,23,52]
print(l1)

[1, 25, 23, 52]

In [50]:
l2=[1,2.1,True,3+2j,[12,33,44],{12,43},"Python"]
print(l2)

[1, 2.1, True, (3+2j), [12, 33, 44], {43, 12}, 'Python']

# **List function**
List is a built in function which convert any compatible sequence type in list.

In [6]:
l2 = list(range(1,10))
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [10]:
s2 = 'Python'
l3 = list(s2)
print(l3)

['P', 'y', 't', 'h', 'o', 'n']

# **Methods of List**

**1.append(element)**


*   It is used to add single element in list.
*   E.g: l1.append(45)

In [21]:
l1=[]
l1.append(34)
print(l1)

[34]

**2.extend(sequence obj)**


*  It is used to add multiple element in list(any other sequence)
*  E.g:-l1.extend([32,12,'bat'])

In [22]:
l1.extend([2,3,21])
print("l1 after extend:-",l1)

l1 after extend:- [34, 2, 3, 21]

In [23]:
l1.append({3,4,5})
print("l1 after append:-",l1)

l1 after append:- [34, 2, 3, 21, {3, 4, 5}]

**3.insert(index,element)**


*  It is used to add single element into a list as specific index(position)
*   E.g:l1.insert(1,45)

In [24]:
l1.insert(2,"python")
print("l1 after insert:-",l1)

l1 after insert:- [34, 2, 'python', 3, 21, {3, 4, 5}]

**4.pop(index)**


*   It is used to remove element by the index.
*   E.g:l1.pop(3)

In [25]:
l1.pop(3)

3

**5.pop()**


*   It will remove the value by the right hand side of list.

In [26]:
l1.pop()
print("l1 after pop()\n",l1)

l1 after pop()
 [34, 2, 'python', 21]

**6.remove(element)**


* It is used to remove specified element from the list

In [30]:
l1.remove(2)
print("After remove 2:",l1)

After remove 2: [34, 'python', 21]

**7.clear()**


*   It is used to remove all the element of the list.

In [28]:
l2 = [1,2,3,4,5]
print("Before clear:",l2)
l2.clear()
print("After clear:",l2)

Before clear: [1, 2, 3, 4, 5]
After clear: []

**8.copy()**


*   It returns a shallow copy.

In [29]:
list1 = [1,2,3,4]
list2 = list1.copy()    # It create shallow copy,here it will copy the element od variable
print(list2)
list3 = list1           # It is a deep copy,here it will copy the address.
print("list3:",list3,"Address:-",id(list3))
print("list1:",list1,"Address:-",id(list1))

[1, 2, 3, 4]
list3: [1, 2, 3, 4] Address:- 140150105775312
list1: [1, 2, 3, 4] Address:- 140150105775312

**9.count(element)**


* it returns the count of element which is specified into argument.

In [31]:
l1 = [1,2,3,4,2,4,2,5,10]
l1.count(2)

3

**10.index(element)**


* It returns the index of the first matched element.

* It will start to search element from 0th index.

In [37]:
print("1st matched index of 2 from starting index 0 is",l1.index(2))

1st matched index of 2 from starting index 0 is 1

**11.index(element,startindex,end)**


* It returns the index of the first matched element.
* It wil start to search the element from specified index

In [36]:
l1 = [1,2,3,4,2,4,2,5,10]
print("1st matched index of 2 from starting index 3 is",l1.index(2,3))

1st matched index of 2 from starting index 3 is 4

**12.sort(reverse=False)**

* It will sort the element of the list in acsending order.

**sort(reverse=True)**


* It will sort the element of the list on descending order.

In [40]:
l1=[1,2,3,5,7,4,8]
l1.sort()
print(l1)
print("After reverse=True")
l1.sort(reverse=True)
print(l1)

[1, 2, 3, 4, 5, 7, 8]
After reverse=True
[8, 7, 5, 4, 3, 2, 1]

**13.reverse()**

* reverse the order of item in list.

In [44]:
l1=['A','B','D','C']
l1.reverse()
print(l1)

['C', 'D', 'B', 'A']

# **Nested List**

In [41]:
l2=[(101,'Raj'),(104,'Rosh'),(102,'Rohit'),(103,'Priya'),(105,'Ashish')]
print(l2)

[(101, 'Raj'), (104, 'Rosh'), (102, 'Rohit'), (103, 'Priya'), (105, 'Ashish')]

##**User defined function on list**

In [42]:
def secondvalue(ele):
  return ele[1]

print(secondvalue(l2))

(104, 'Rosh')

## **Sorting on nested list**

In [ ]:
l2.sort()
print("After default sort",l2)
l2.sort(key=secondvalue)
print(l2)

## **Slicing**


*   Slicing is used to create sub list.
*   It help to split list in sub part.
*   **syntax:**
        listvariable[startindex:endindex:step]
        here endindex element not included in sublist.
*   Negative step is used to read the element in negative order

In [46]:
l1=[12, 6, 16, 19, 34, 6, 5]
print(l1[2:4])

[16, 19]

In [47]:
print(l1[::2])

[12, 16, 34, 5]

In [48]:
# To create list in reverse order.
print(l1[::-1])

[5, 6, 34, 19, 16, 6, 12]